*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Lato,sans-serif;
    font-size: 1rem;
    display: grid;
}

.logo{
    margin-right: 70px;
}


.header-button{
    font-family: Lato;
    font-size: 19.16px;
    font-weight: 400;
    line-height: 19px;
    color: #2c3e50;
    transform: scale(0.725,0.731);
}

.header-button:hover{
    border-top: 5px solid rgb(27, 213, 176);
    padding-top: 17px;
    color: rgb(27, 213, 176);
}

.header__icons{
    display: flex;
    flex-direction: row;
}

.header__search,
.header__basket{
    color: #a1b1bc;
    margin: 10px;
}

h2{

    font-family: Lato;
    color: #2c3e50;
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;

}

h3{
    font-family: Lato;
    color: #2c3e50;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    width: 253px;
    height: 14px;

}
p{
    font-family: Lato;
    color: #a1b1bc;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}

li{ 
    list-style-type: none;
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
}

li a{
    text-decoration: none;
}

.background-image{
    position: relative;
}

.background-image > img{
    width: 100%;
    height: 100%;
}

.buy-button{
    text-decoration: none;
    color:white;
    padding: 25px;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 1.4rem;
    display: inline-block;
    border-radius: 4px;
    background-color: #020202;
}

.text-block__ti{
    position: absolute;
    left: 20%;
    top: 30%;
}

.line{
    margin-top: 30px;
}

.text-block__title__text{
    font-family: Lato;
    color: black;
    font-size: 36px;
    font-weight: 200;
    line-height: 14px;
}

.text-block__tittle__text-continue{
    font-family: Lato;
    color: black;
    font-size: 46px;
    font-weight: 900;
    line-height: 14px;
}

.text-block__body__one,
.text-block__body__two,
.text-block__body__three,
.text-block__body__four{
    margin: 30px;
}

.text-block__title__text{
    margin-bottom: 40px;
}

.text-block__body
{
    font-family: Lato;
    color: black;
    font-size: 26px;
    font-weight: 900;
    line-height: 14px;
    position: absolute;
    left: 20%;
    top: 40%;
    margin-top: 30px;
}

.details{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 60px;
}

.details-group{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.details-group__left{
    grid-column: 1;
    margin: 10px;
    padding-right: 30px;
}

.details-group__right{
    grid-column: 2;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
	border-top: 1px solid #eceef0;
	border-right: 1px solid #eceef0;
	border-left: 1px solid #eceef0;
	border-radius: 3px;
}

.dropdown__para{
    display: flex;
    flex-direction: row;
    padding: 10px;  
}

.space{
    margin:20px;
}

#CreativeService{
    margin-left: 20px;
}

.dropdown{
   margin-bottom: 5px; 
}

.fa-angle-down{
    color: #eceef0;
}

.dropdown__para{
    border: 1px solid #eceef0;
}

.view-detail-button{
    text-decoration: none;
    color:white;
    padding: 15px;
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 2px;
    background-color: #a1b1bc;
    box-shadow: 1px 3px 0px 0px #81919b;
}

.works__pictures{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.works__pictures__left{
    grid-column: 2/3; 
}

.works__pictures__middle{
    grid-column: 3/4; 
}

.works__pictures__right{
    grid-column: 4/5; 
}

.amazing-works__title{
    text-align: center;
}

.works__pictures__left__top__header,
.works__pictures__left__bottom__header,
.works__pictures__middle__top__header,
.works__pictures__middle__bottom__header,
.works__pictures__right__top__header,
.works__pictures__right__bottom__header
{
    border: 1px solid rgb(231, 234, 239);
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 8px;
}

.works__pictures__left__top,
.works__pictures__left__bottom,
.works__pictures__middle__top,
.works__pictures__middle__bottom,
.works__pictures__right__top,
.works__pictures__right__bottom{
    position: relative;
}

.works__pictures__left__top:hover .overlay,
.works__pictures__left__bottom:hover .overlay,
.works__pictures__middle__top:hover .overlay,
.works__pictures__middle__bottom:hover .overlay,
.works__pictures__right__top:hover .overlay,
.works__pictures__right__bottom:hover .overlay
{
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dfeaf1;
}

.overlay__text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.works__pictures__left__top__header__title,
.works__pictures__left__bottom__header__title,
.works__pictures__middle__top__header__title,
.works__pictures__middle__bottom__header__title,
.works__pictures__right__top__header__title,
.works__pictures__right__bottom__header__title
{
    padding: 5px;
    font-family: Lato;
    color: #2c3e50;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

}

.works__pictures__left__top__header__heart,
.works__pictures__left__bottom__header__heart,
.works__pictures__middle__top__header__heart,
.works__pictures__middle__bottom__header__heart,
.works__pictures__right__top__header__heart,
.works__pictures__right__bottom__header__heart
{
    text-align: right;
    padding: 5px;
    font-family: Lato;
    color: #a1b1bc;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.information{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 90px;
    margin-bottom: 40px;
}

.information__wrapped{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.information__wrapped__photo{
    margin-left: 20px;
}

.statistics{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.statistics__purchases__number,
.statistics__suscribers__number,
.statistics__features__number,
.statistics__customers__number,
.statistics__comments__number{
    font-family: Lato;
    color: #ffffff;
    line-height: 24px;
    font-size: 30px;
    font-weight: 300;
}

.statistics__purchases__tag,
.statistics__suscribers__tag,
.statistics__features__tag,
.statistics__customers__tag,
.statistics__comments__tag{
    font-family: Lato;
    color: #ffffff;
    line-height: 24px;
    font-size: 14px;
    font-weight: 900;
    margin-top: 10px;
}

.statistics__customers,
.statistics__suscribers{
    width: 384px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 213, 176)
}

.statistics__purchases,
.statistics__comments,
.statistics__features{
    width: 384px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(32, 201, 168)
}


.statistics__purchases:hover,
.statistics__suscribers:hover,
.statistics__features:hover,
.statistics__customers:hover,
.statistics__comments:hover{
    background-color: #2c3e50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.opinions{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.opinions__name{
    font-family: Lato;
    line-height: 24px;
    color: #2c3e50;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.opinions__job{
    font-family: Lato;
    line-height: 24px;
    color: #a1b1bc;
    font-size: 14px;
    font-weight: 400;
}
.opinions__wrapped{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.opinions__wrapped__title{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opinions__wrapped__title__buttons{
    margin-bottom: 20px;
}

.pagination-button-prev{
    text-decoration: none;
    border: 1px solid grey;
    border-right: 0px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fbfafa;
    color: #2c3e50;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pagination-button-next{
    text-decoration: none;
    border: 1px solid grey;
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: hsl(0, 11%, 98%);
    color: #2c3e50;
    padding-left: 20px;
    padding-right: 39px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.opinions__wrapped__top-left,
.opinions__wrapped__bottom-left{
    grid-column: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(227, 231, 234);
    margin: 15px;
    background-color: rgb(249, 250, 252)
}

.opinions__wrapped__top-right,
.opinions__wrapped__bottom-right{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(227, 231, 234);
    margin: 15px;
    background-color: rgb(249, 250, 252)
}

.card-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 40px;
}

.opinions__wrapped__top-left__image,
.opinions__wrapped__top-right__image,
.opinions__wrapped__bottom-right__image,
.opinions__wrapped__bottom-left__image{
    display: flex;
    justify-content: left;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 30px;
    margin-bottom: 40px;
}

.location{
    margin-top: 70px;
}

.location__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location__header-telenor,
.location__header-nice,
.location__header-plate,
.location__header-brilliant,
.location__header-microsoft,
.location__header-color{
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.suscription{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 60px;
    margin-bottom: 100px;
}

.suscription__wrapped__text__title{
    font-family: Lato;
    color: #2c3e50;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 20px;

}

.suscription__wrapped__text__info__street{
    font-family: Lato;
    color: #a1b1bc;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.suscription__wrapped{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.suscription__wrapped__text__icons{
    display: flex;
    flex-direction: row;
}

.suscription__wrapped__text__icons__fb,
.suscription__wrapped__text__icons__tw,
.suscription__wrapped__text__icons__blog,
.suscription__wrapped__text__icons__go,
.suscription__wrapped__text__icons__fli,
.suscription__wrapped__text__icons__bask,
.suscription__wrapped__text__icons__in,
.suscription__wrapped__text__icons__pint,
.suscription__wrapped__text__icons__sky,
.suscription__wrapped__text__icons__vime,
.suscription__wrapped__text__icons__t{
    margin: 10px;
}

.suscription__wrapped__form__name,
.suscription__wrapped__form__email,
.suscription__wrapped__form__phone,
.suscription__wrapped__form__textbox,
.suscription__wrapped__form__button{
    margin:10px;
    border-radius: 3px;
}

.inputField{
    border: 1px solid rgb(222, 231, 230);
    width: 570px;
    height: 50px;
    border-radius: 3px;
    background-color: #ffffff;

}

.view-detail-button-large{
    width: 570px;
    height: 56px;
    text-decoration: none;
    color:white;
    padding: 15px;
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #a1b1bc;
    box-shadow: 1px 3px 0px 0px #81919b;
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    font-weight: 900;
}

textarea {
    resize: none;
    border: 1px solid rgb(222, 231, 230);
 }

 .suscription__wrapped__form{
     margin-left: 30px;
 }

 .images__top-wrapped{
     display: flex;
     flex-direction: row;
 }

 .images__top-wrapped__one,
 .images__top-wrapped__two,
 .images__top-wrapped__three,
 .images__top-wrapped__four,
 .images__top-wrapped__five,
 .images__bottom{
     position: relative;
 }

 .text-block {
    position: absolute;
    bottom: 3px;
    right: 0px;
    left:0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Lato;
    color: #ffffff;
    line-height: 24px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 700;
}

.text-block__date{
    font-family: Lato;
    color: #ffffff;
    line-height: 24px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;

}

.text-block:hover{
    background-color: rgb(34, 37, 52);
    color: rgb(25, 189, 155);
    opacity: 0.95;
}

.bikeFull{
    width: 100%;
    height: 100%;
}

.purchase-button{
    position: absolute;
    bottom: 40%;
    left:45%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;  
}

.text-block-bike__text__title{
    position: absolute;
    top: 30%;
    left:38%;
}

.text-block-bike__text__body{
    position: absolute;
    top: 35%;
    left:37%;
}

.text-block-bike__text__title{
    width: 470px;
    height: 34px;
    font-family: Lato;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    line-height: 14px;
}

.text-block-bike__text__body{
    width: 497px;
    height: 15px;
    font-family: Lato;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 20px;
}

.purchase-button{
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
    padding: 13px;
    font-family: Lato;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(26, 28, 40);
    padding-top: 60px;
    padding-bottom: 70px;
}

.social-media__wrapped{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.s-media{
    height: 85px;
    width: 85px;
}

footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(34, 37, 52);
}

.footer__wrapped{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer__wrapped__text{
    grid-column: 1;
}

.footer__wrapped__icons{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media__wrapped__posts{
    margin-right: 20px; 
}

.social-media__wrapped__posts > p,
.social-media__wrapped__tweets > p,
.social-media__wrapped__works > p{
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 2px;
    border-left: 5px solid rgb(25, 189, 155);
    padding:8px;
}

.footer__wrapped__icons__fb,
.footer__wrapped__icons__tw,
.footer__wrapped__icons__tum,
.footer__wrapped__icons__vime,
.footer__wrapped__icons__in,
.footer__wrapped__icons__bask,
.footer__wrapped__icons__ins,
.footer__wrapped__icons__blog{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.social-media__wrapped__posts__date__text,
.social-media__wrapped__posts__date__num{
    font-family: Lato;
    color: #a1b1bc;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.social-media__wrapped__posts__date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.social-media__wrapped__tweets__tweet{
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
    color: #a1b1bc;
    font-size: 14px;
}

.social-media__wrapped__tweets__min{
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
    color: #6c7d89;
    font-size: 12px;
}

.social-media__wrapped__tweets__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media__wrapped__tweets__group__icon{
    color: white;
}

.social-media__wrapped__tweets{
    margin-right: 30px;
    margin-left: 5px;
}

.social-media__wrapped__works__wrapped{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.social-media__wrapped__works__wrapped__left{
    grid-column: 1;
}
.social-media__wrapped__works__wrapped__midd{
    grid-column: 2;
}
.social-media__wrapped__works__wrapped__right{
    grid-column: 3;
}














